<%= render "shared/navbar" %>
<%# Contains chat header as well as create button %>
<div class="container">
  <div class="chats-header">
    <h1>List of chats</h1>
    <button type="button" class="btn btn-create-chat" data-bs-toggle="modal" data-bs-target="#createModal">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <%# Creates the list of chats %>
  <ul class="chats-list">
    <% @chats.each do |c| %>
      <li data-controller="alert">
        <div class="chats-cards">
          <%= link_to chat_path(c), class: 'text-decoration-none text-black'  do%>
            <span class="chat-title"><%= "To: #{c.receiver} - Subject: #{c.title}".html_safe %></span>
          <% end %>
          <span class="chat-meta">
            <%= "Politeness: #{c.politeness.level}" %>
            <%= link_to "#", data: { action: 'click->alert#show' }, class: 'text-decoration-none' do %>
              <i class="fa-solid fa-eraser"></i>
            <% end %>
            <%= link_to "", chat_path(c), data: { turbo_method: :delete, alert_target: 'link' } %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%# Create Modal (Popup) %>
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Create New Chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @chat, url: chats_path do |form| %>
          <%= form.input :title, label: "Chat Title" %>
          <%= form.input :receiver, label: "Email Recipient" %>
          <%= form.label :politeness_id, "Politeness *" %>
          <div class="d-flex justify-content-center my-2">
            <% Politeness.all.each do |p| %>
              <%= form.radio_button :politeness_id, p.id, id: "type_#{p.id}", class: "btn-check", autocomplete: "off" %>
              <%= form.label :politeness_id, for: "type_#{p.id}" do %>
                <%= image_tag "icons/#{p.level}.png", alt: p.level, class: "type-button-style", size: "24x24", data: { controller: "tooltip", bs_toggle: "tooltip", bs_title: "#{p.level}"} %>
              <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= form.button :submit, "Create", class: "btn btn-final-create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
