<%= render "shared/navbar" %>
<div class="main">
  <div class="container" data-controller="loading">
    <div class="p-2">
      <% if @messages.any? %>
        <%= link_to "#offcanvasmessagenavbar",
          role: "button",
          "data-bs-toggle": "offcanvas",
          "aria-controls": "offcanvasmessagenavbar",
          class: "btn" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
    <div class="row message-area" data-loading-target="area" data-controller="email-modal">
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <div class="row" >
            <div class="col mb-2">
              <% unless message.who_sent === 'user' %>
                <div id='<%= "message_#{message.id}"  %>' class="chat-box" >
                  <p class="chat-user-text-style">MailAI | To: <%= message.chat.receiver %></p>
                  <%= message.content.html_safe %>
                  <%= button_to sendmail_path,
                    method: :post,
                    class: "btn mail-btn",
                    params: { message_content: message.content },
                    data: { action: "click->email-modal#open", message: message.content,
                      receiver: message.chat.receiver,
                      user: current_user.email,
                      subject: message.chat.title  } do %>
                    <i class="fa-solid fa-envelope"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="col">
              <% if message.who_sent === 'user' %>
                <div id='<%= "message_#{message.id}"  %>'  class="chat-box-user">
                  <p class="chat-user-text-style"><%= current_user.email %></p>
                  <%= simple_format(message.content) %>
                </div>
              <% end %>
              <br>
            </div>
          </div>
        <% end %>
      <% else %>
        <h1 class="text-center">No messages yet.</h1>
        <div class="d-flex justify-content-center">
          <%= image_tag "empty.png", class: 'empty-image'%>
        </div>
      <% end %>
      <%# Email modal %>
      <div data-email-modal-target="modal" class="modal modal-lg" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body modal-email">
              <div class="container">
                <div class="row">
                  <div data-email-modal-target="user">
                  </div>
                  <div data-email-modal-target="receiver">
                  </div>
                  <div data-email-modal-target="subject">
                  </div>
                  <hr>
                  <div class="col">
                    <h5 class="text-center">EmailAI</h5>
                    <hr>
                    <p data-email-modal-target="message"></p>
                  </div>
                  <div class="col">
                    <h5 class="text-center">To be sent:</h5>
                    <hr>
                    <textarea class="form-control modal-email-textarea" data-email-modal-target="textarea"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-confirm" data-action="click->email-modal#confirm">Send Email</button>
              <button class="btn btn-cancel" data-action="click->email-modal#close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between p-2">
      <%= simple_form_for [@chat, @message], method: :post, html: { class: 'w-100 text-area-div', controller: 'loading' } do |f| %>
        <div class="d-flex align-items-center mb-0">
          <%= f.hidden_field :who_sent, value: "user" %>
          <%= f.input :content, as: :text, required: false, label: false , wrapper: false, input_html: { class: 'text-area-reset text-area-style' }  %>
          <button type="submit" class="btn text-black" data-action="click->loading#start">
            <i class="fa-solid fa-circle-up"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasmessagenavbar" aria-labelledby="offcanvasmessagenavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasmessagenavbarLabel">Old messages</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
    <% @messages.each do |message| %>
      <% if message.who_sent === 'user' %>
        <div data-controller="messagenavbar">
          <%= link_to "#", class: "nav-link text-dark", data: { action: "click->messagenavbar#messageClick", messageId: message.id } do %>
            <div class="chat-box mb-2">
              <div class="date-text">
                <%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %>
                <hr>
              </div>
              <p><%= simple_format(message.content) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
