<nav class="navbar navbar-expand-sm">
  <div class="container">
    <!-- Brand -->
    <%= link_to "MailAi", chats_path, class: "navbar-brand" %>
    <!-- Toggler button (shows on mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Log-out", destroy_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">
  <div class="container">
    <div class="p-2">
      <%= link_to "#offcanvasmessagenavbar",
      role: "button",
      "data-bs-toggle": "offcanvas",
      "aria-controls": "offcanvasmessagenavbar",
      class: "btn" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
    <div class="row message-area">
      <% @messages.each do |message| %>
        <div class="row">
          <div class="col mb-2">
            <% unless message.who_sent === 'user' %>
              <div id='<%= "message_#{message.id}"  %>' class="chat-box">
                <%= message.content.html_safe %>
              </div>
            <% end %>
          </div>
          <div class="col">
            <% if message.who_sent === 'user' %>
              <div id='<%= "message_#{message.id}"  %>'  class="chat-box">
                <%= message.content.html_safe %>
              </div>
            <% end %>
            <br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-between p-2">
      <%= simple_form_for [@chat, @message], method: :post, html: { class: 'w-100 text-area-div' } do |f| %>
        <div class="d-flex align-items-center mb-0">
          <input type="radio"
            class="btn-check"
            name="politeness"
            id="typeBoss"
            value='boss'
            autocomplete="off">
          <label for="typeBoss">
            <%= image_tag "icons/devil-standing-up.png", alt: "boss", class: "type-button-style",  size: "24x24" %>
          </label>
          <input type="radio"
            class="btn-check"
            name="politeness"
            id="typeCustomer"
            value='customer'
            autocomplete="off">
          <label for="typeCustomer">
            <%= image_tag "icons/customer.png", alt: "customer", class: "type-button-style", size: "24x24" %>
          </label>
          <input type="radio"
            class="btn-check"
            name="politeness"
            value='friend'
            id="typeFriend"
            autocomplete="off" checked>
          <label for="typeFriend">
            <%= image_tag "icons/beer-mug.png", alt: "friend", class: "type-button-style",  size: "24x24" %>
          </label>
          <%= f.hidden_field :who_sent, value: "user" %>
          <%= f.input :content, as: :text, required: false, label: false , wrapper: false, input_html: { class: 'text-area-reset text-area-style' }  %>
          <button type="submit" class="btn text-black">
            <i class="fa-solid fa-circle-up"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasmessagenavbar" aria-labelledby="offcanvasmessagenavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasmessagenavbarLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" >
    <% @messages.each do |message| %>
      <% if message.who_sent === 'user' %>
        <div data-controller="messagenavbar">
          <%= link_to "#", class: "nav-link text-dark", data: { action: "click->messagenavbar#messageClick", messageId: message.id } do %>
            <div class="chat-box mb-2">
              <p><%= message.content %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
